<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>767071083281-fg98dfu3mf8rehbo53lht81gkm0al39v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767071083281-fg98dfu3mf8rehbo53lht81gkm0al39v</string>
	<key>API_KEY</key>
	<string>AIzaSyD9V2haRAdso0ooSUwQgaWYKuRH9tHZsIo</string>
	<key>GCM_SENDER_ID</key>
	<string>767071083281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crickettechnology.trees</string>
	<key>PROJECT_ID</key>
	<string>trees-1543002995860</string>
	<key>STORAGE_BUCKET</key>
	<string>trees-1543002995860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767071083281:ios:7cfadd928080c32f</string>
	<key>DATABASE_URL</key>
	<string>https://trees-1543002995860.firebaseio.com</string>
</dict>
</plist>